<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Мой список</title>{% endblock %}
    <meta name="viewport" content="width=device-width,
                                    initial-scale=1">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block head %}
    <img src="{% static 'images/logo.png' %}"
         style="width:100px; height:100px;" align="absmiddle">
    <font size=7, color="blue">Мой список</font>
  {% endblock %}
</head>
<body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Главная страница</a></li>
          <li><a href="">Все книги</a> </li>
          <li><a href="">Все авторы</a> </li>
        </ul>
        {% endblock %}
      </div>
      <div class="col-sm-10 ">
        {% block content %}{% endblock %}
        {% block footer %}
          {% block copyright %}
        <p>Все права защищены Отрядами Михеева, 2021. Мне не 20, мне 21!</p>
          {% endblock %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>