{% extends "base_generic.html" %}

{% block content %}
<h1>Главная страница</h1>

    <p>Добро пожаловать на мой сайт, на котором размещен список фильмов/книг/аниме, которые я прочитал/просмотрел/прочитаю/посмотрю.
    Это очень простой сайтик, сделанный на Django. Язык python.</p>
<h2>Динамический контент</h2>
    <p>База данных моего списка включает в себя:</p>
    <ul>
        <li><strong>Количество произведений:</strong> {{ num_arts }}</li>
        <li><strong>Количество авторов</strong> {{ num_authors }}</li>
    </ul>
{% endblock %}